 #login{
 text-align: left;
 	width:200px;
 	height:250px;
 	margin : 0 auto; 
 	padding: 20px;
 	-webkit-border-radius:60px;
 	background:-webkit-linear-gradient(top,#d9d9d9, #f2f2f2, #ffffff);
 	-webkit-box-shadow:5px 5px 5px  #4da6ff;
 	
 }
 	
 #index_right img{
 	width: 200px;
 	height: 100px;
 	align : center;
 	
 }
 
 